/* sfsdugf.css 2内容 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
}

body {
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 10px;
    flex-direction: column;
}

.container {
    max-width: 320px;
    width: 100%;
    background: white;
    border-radius: 0; /* 移除圆角 */
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.header {
    background: #f000;
    color: Black;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 0px;
}

.subtitle {
    font-size: 15px;
    opacity: 0.9;
}

.content {
    padding: 0px;
    text-align: center;
}

.qr-container {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.qr-image {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    color: #999;
    overflow: hidden;
    border: 2px solid #fff;
}

.price {
    font-size: 16px;
    color: #160f0f;
    margin: 20px 0;
    font-weight: bold;
}

.expiry-info {
    font-size: 15px;
    color: #666;
    margin: 0px 0;
}

.success-message {
    color: #666;
    font-size: 16px;
    margin: 10px 0;
    display: none;
}

.countdown-tip {
    font-size: 16px;
    color: #160f0f;
    margin: 11px 0;
    font-weight: bold;
}

.scan-tip {
    font-size: 15px;
    color: #666;
    margin: 5px 0;
}

/* css刷新配置 */
.refresh {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: white;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.refresh::after {
    content: "\21BB";
    font-size: 18px;
    color: #666;
    font-weight: bold;
}

.refresh.loading::after {
    animation: spin 1s linear infinite;
}

.refresh.active {
    opacity: 1;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.refresh.pulling {
    transition: none;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}